Java1Ball {
   width: 30px;
   height:30px;
   color: cyan;
   b
}
 #BOX1 {
     width: 300px;
     height: inherit;
     background-color: aquamarine;
     outline-style: dotted;
     border: blueviolet;
     opacity: 50%;
     padding-left: 50px;
     padding-top: 0;
     float: right;
     }
 #BackG1 {
     background-color: #333300;
 
 #BACKBOXG{
     border: cadetblue ;
     background-position-x: 10px;
     background-position-y: 10px;
     float:picture-in-picture= hre
 }

 #BodyP {
     color: deeppink;
    padding-left: 10%;
     padding-right: 10%;
     float: center;
 }
 #Blood{
     font-size: 400%;
     text-shadow: midnightblue;
     text-align: center;
     color: #ff0909;
     outline-style: dashed ;
     outline-color: indigo;
     outline-width: 50%;
 }
#BloodHead{
        font-size: 100%;
        text-shadow: midnightblue;
        text-align: center;
        color: #ff0909;


 }
 #Centor {
     text-align: center;
 } 
 #Foot {
     text-align: center;
     color: black;
     font-size: 10%;
     padding-top: 30px;
     padding-right: 25%;
     padding-left: 25%;
 }
 #HC {
     text-align: center;
     size: 30%;
 }
 #HEA {
     size: 30%;
     padding-top: 30%;
 }
 #HeadX {
     size: 10px;
     color: black;
 }
 #Head3 {
     text-align: center;
     color: lightslategrey;
     
 }
 #Hidden{
     opacity: 92%;
     text-align: absolute 0-41,0-41;
 }

 #HT {
     color:black;
     text-align: center;
     border: 10px solid chartreuse;
     border-width: 50%;
     background-color: dimgrey;
 }
 #HB {
     color: #000000.5;
 } 
 #lead {
     text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 100px;
     border: skyblue;

 }
 #Logo {
     height: 5%;
     width: 5%;
     
     border-radius: 45%;
     border: 2px black;
     float: left;
 }
 #OliveJ {
     height: 270px;
     width: 270px;
     padding-left: 8px;
 }
 #OutOB {
     border: black;
     border-radius: 20px;
     border-top: black, height="10px",width ="10px";

 }

 #Para1 {
     color: #1aff66;
 } 
 title {
     text-align: center;
 }
 #Tableo {
     text-align: center;
     border: springgreen;
     margin-top: auto;
     table-layout: auto;
     position: absolute 100, 300;
 }
 table {
    border:dimgrey;
}






