* { margin: 0 auto; padding: 0 auto;}
body{ height: 100vh; width: 100vw;
background: url(https://image.freepik.com/free-photo/olive-oil-pink-background-with-copy-space_23-2148285975.jpg);
background-repeat:no-repeat ; background-size: cover; background-position-x: center; background-position-y: center;}
img {border: 2px solid black;}
header {
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    margin-bottom: 3%;
height: 22vh;}
div {
    border:2px solid #000;
}
button{  cursor: pointer;   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
footer{
    text-align: center;
}
.rotate { background-color: #f0f0f0a5; border-radius: 10%; width: 30%; height: 40%;  display: inline-block; text-align: center;
position: relative;  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); }
.rotate:first-child{margin-left: 4%;}
.rotate:nth-child(4){margin-left: 4%;}
.price {
    font-size: 200%; color:#af0000;}
.s{-webkit-text-fill-color: blueviolet; margin-top: 5%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; color: #fafafa; width: 40%; height: 20%; background: linear-gradient(40deg,#0a0a0a, #0b0b0b, #0c0c0c0c);}
.title { font-family: "lobster"; 
    color: black;
  -webkit-text-fill-color: blueviolet; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background-color: aliceblue;
}
.title2{ font-size: 60; font-family: 'Courier New', Courier, monospace;
    color: black;
    -webkit-text-fill-color: rgb(77, 139, 41); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; 
}

#about{
    height: 10vh; background: linear-gradient(227deg, #fafafa, #f0f0f0,red,pink,green,blue,white );
    width: 10vw; border-radius: 50%;
    float: right;
    color: #f0f0f0; -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black; 
}
#about:hover{background: aqua; cursor: pointer; color: red; }
#bodytext { font-family: "lobster", cursive; font-size: 1.9vw;
    margin-top: 3%; background-color: white;
}

#logo{
    background-color: aqua;
    opacity: 0.1;
    height: 10%;
    width: 40%;
    position: relative;
    margin: 0 auto;
}
#card {  
    position: fixed; 
    text-align: center;
        margin-top: 10%;
    padding-top: 1%;
        background-color: #00000000;
        color: #00000000;
        height: 40%;
        width: 20% ;
        border-radius:0 0 10% 10%; border: 0;
        z-index: 2;
        }
    #cardbutton {
        opacity: 1;
        
        padding: 0 ;
        margin-top: 1%;
       float: left; background-image: url(../Logs/arrow.png);
        background-size: contain; transform: rotate(90deg); height: 28%; width:28%;
        
        border-radius: 10%; border: ridge 2px aqua; background-repeat:no-repeat; background-position-x: center;background-position-y: center;
    }#cardimage {
        height: 28%; width:28%; margin-top: 1%; float: right; background-size: contain;
        background-repeat:no-repeat; background-position-x: center;background-position-y: center;border-radius: 10%;border: ridge 2px aqua; 
    }
#didya{
    text-align: left;
    margin-top: 25%;
    height: 40%;
    border-radius: 10%;
 
}