.err{
    border: 1px solid red;
}
.bweb{
    
    position: absolute;
    border-radius: 30%;
    background-color: #00000055;
    content: "Bweb";
    width: 3vmin; 
    height: 3vmin;
    background-image: url(bweb.ico);
    background-size: contain;
    display: inline-block;

}
#intro{
    text-align: center;
    font-size: 7vmin;
    animation: intro 4s forwards linear; 
    position: absolute;
    left: 0;
    top: 0;
    background-color: green;
    border-top: 5vh solid green;border-bottom: 5vh solid green;
    border-left: 10vw solid red; border-right: 10vw solid red;
    width: 79.7vw;
    height: 90vh;
    z-index: 3;
}
#intro::first-letter{
    font-size: 10vmin;
    font-family:cursive ;
 color: black;
}
#intro>button{
    width: 14%;
    height: 7%;
    background-image: url(bweb.ico);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y:center ;
    position: absolute;
    right: 0;
    top: 0;
    color: wheat;
    border: 2px solid rebeccapurple;
}
@keyframes intro{
    0%{background:radial-gradient( white,whitesmoke,green);}
    50%{background: radial-gradient( white,whitesmoke,red); }
    100%{background: radial-gradient( whitesmoke, white,blue);}
}
body{

    background: linear-gradient(140deg, green, limegreen, lime );
    background-size: cover;
}
main{
    margin: 0 auto;
    border:  10px solid transparent;
    border-image: url(Green.png) 150 fill ;
    width: 91%;
    height: 99%;
    padding: 1%;
}
.Headimg{ 
    transform: rotateY(180deg);
    width: 100%;
    height: 10vh;
    background-color: #8a2be255;
 
}

h1{
    height: 6vmin;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1vh;
    text-align: center;
   
    -webkit-text-stroke: 1px magenta;
    font-size: 5vmin;
    background-color: black;
    border-radius: 10px;
    color: aliceblue;
    margin-bottom: 1vh;
    border: 1px solid rebeccapurple;
}

/*Item set*/
table{  margin: 0 auto;
padding: 2vh 2vw 8vh;
background-image: url(Img/1.jpeg);}
.i{ 
    width: 100%;
    background: repeating-linear-gradient(40deg, #00000055, #000000);
    border-radius: 10%;
}
.i:hover{
transform: scale(1.4);
}
td {width: 30%; height: 30%; display: inline-flexbox;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
td > p{
    text-align: center;
}
p>strong{
    border: 1vmin double darkorchid;
    font-size: 4vmin;
    background-color: aliceblue;
    color: wheat;
    -webkit-text-stroke: 0.2vmin purple;
}
.description{
    height: 10vh;
    background-color: antiquewhite;
}

/*Lower set*/
.lower-wrap{
    background: linear-gradient(246deg, red,blue);
    margin:0 auto;
    height: 50vh;
    padding: 2vh 9vw ;
}
#phase3{
    background: #00000055;
}
#phase3>img{
    
    width: 20vmin;
    height: 40vmin;
    float: right;   
    padding-left: 10px;
}
h6{ font-size: 4vmin;}
h6>strong {
    font-size: 3.6vmin;
    -webkit-text-stroke: 1px green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Footer*/
footer{ font-size: 2vmin;   width: 100%; margin-top: 1vh; }
#lfoot{
    width: 58%;
    color: white;  
  float: left;
}
a>img{
   display: inline-block;
    width: 7vmin;
  
}
a>img:hover{
    transform: scale(1.3);
    background-color: darkmagenta;
    border-radius: 20%;
 }

#rfoot{text-align: center;
   width: 38%;
    float: right;
    color: white;
   
}
#rfoot>img{
    width: 3vmin;
}

/*###*/
/*END MAIN*/
#popup{

padding: 2% 2%;
height: 90vh;
width: 97%;
background-color: beige;
z-index: 2;

border: 1vw solid transparent;
border-image: url(bweb.ico) 60 round;

}
h2{
    font-size: 6vmin;
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Pd:after{
    display: block;
    content: " Built with love";
}
#Pi {
    width: 40%;
    height: 20%;
}